.*/
out/
venv/
*.xml
*.iml
*.log
*.class
zeta_bot/bin/ffmpeg
zeta_bot/bin/ffmpeg.exe
zeta_bot/data/
/code_test.py
audio/
audios/
download/
downloads/
playlist/
playlists/
user/
users/
member/
members/
data/
log/
logs/
config/
configs/
